*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
    color:#fff;

}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: #000;
}
.nav{
    height:130px;
    width:100%;
    padding:0 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav-part2{
    display: flex;
    width:50%;
    align-items: center;
    justify-content: space-between;
}
.nav h1{
    font-size:20px;
    text-transform:capitalize;
    display:flex;
    align-items: center;
}
.nav>i{
    font-size: 20px;
}
.nav h5{
    font-size:14px;
    text-transform: capitalize;
}
.nav img{
    height:100px;

}
.line{
    width:70px;
    height:2px;
    background-color: red;
}
.content{
    height:calc(100% - 130px);
    width:100%;
  position: relative;
    display:flex;
   
}
.left{
    width:36%;
    height:100%;
 padding:160px 100px;
 background-color: 

}
.right{
    width:36%;
    height:100%;
    padding:220px 130px;
    
    
}
.center{
    width:22%;
    height:100%;
    
    padding-top:60px;
   

}
.left h1{
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 30px;

   
}
.left h1 span{
    color:red;
    font-weight: 500;
}
.left p {
    margin-bottom: 50px;
    font-size: 13px;
    width: 80%;
    line-height: 12px;
    text-align: center;
    
}
.left button{
    background-color: red;
    padding:20px 35px;
    border-radius: 50px;
    font-size:14px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.left button i{
    margin-right: 6px;
}

.center-bg{
    background-color: blue;
    height: 90%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url('https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg');
    background-size: 450%;
    background-position: 30% 40%;
    filter:blur(2px);
}
.content>img{
    height: 100%;
    position: absolute;
    left:47.5%;
    transform: translate(-50%,-0);
}

.right-elems{
    
    width:350px;

}
.elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.6;
    height:70px;
    border-bottom:1px solid #fff;
}
.elem1 h1{
    font-size: 24px;
    font-weight: 600;
}
.elem1 i{
    font-size: 24px;
}
.elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-top:15px;
}
.elem2 p{
    font-size: 12px;
    width: 80%;
    opacity: 0.6;
}